body {
	color:white;
	background-color: black;
	font-family: 'Archivo Narrow', sans-serif;
}

.price {
	text-align: right;
	
}
.name {
	width: 30em;
}

td {
	width: 4em;
	vertical-align: top;
	border-style: none;
	border-width: 0px;
	padding-left: .5em;
	
}

tr:nth-child(odd) {
    background-color:green; //#ffffcc ;
}
tr:nth-child(even){
	background-color: black;
}

table {
	border-collapse: collapse;
	border-width: 0px;
}